PGHOST=localhost
PGPORT=5432
PGDATABASE=areal-hr_ext-test_db
PGUSER=postgres
PGPASSWORD=root
VITE_API_URL=http://localhost:3000/api
MINIO_USER=root
MINIO_PASSWORD=root1234
MINIO_BUCKET=files
MINIO_ENDPOINT=localhost